[submodule "vim/bundle/misc"]
	path = vim/bundle/misc
	url = https://github.com/xolox/vim-misc.git
[submodule "vim/bundle/aftercolors"]
	path = vim/bundle/aftercolors
	url = https://github.com/vim-scripts/AfterColors.vim.git
[submodule "vim/bundle/youcompleteme"]
	path = vim/bundle/youcompleteme
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "vim/bundle/vim-cpp-enhanced-highlight"]
	path = vim/bundle/vim-cpp-enhanced-highlight
	url = https://github.com/octol/vim-cpp-enhanced-highlight.git
[submodule "vim/bundle/javacomplete"]
	path = vim/bundle/javacomplete
	url = https://github.com/vim-scripts/javacomplete.git
[submodule "vim/bundle/vim-android"]
	path = vim/bundle/vim-android
	url = https://github.com/hsanson/vim-android.git
[submodule "vim/bundle/vim-gradle"]
	path = vim/bundle/vim-gradle
	url = https://github.com/tfnico/vim-gradle.git
[submodule "vim/bundle/vimproc.vim"]
	path = vim/bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "vim/bundle/typescript-vim"]
	path = vim/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "vim/bundle/vim-lua-indent"]
	path = vim/bundle/vim-lua-indent
	url = https://github.com/raymond-w-ko/vim-lua-indent.git
[submodule "vim/bundle/YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "vim/bundle/ConflictMotions"]
	path = vim/bundle/ConflictMotions
	url = https://github.com/vim-scripts/ConflictMotions.git
[submodule "vim/bundle/CountJump"]
	path = vim/bundle/CountJump
	url = https://github.com/vim-scripts/CountJump.git
[submodule "vim/bundle/ingo-library"]
	path = vim/bundle/ingo-library
	url = https://github.com/vim-scripts/ingo-library.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/vim-indent-lua"]
	path = vim/bundle/vim-indent-lua
	url = https://github.com/drmingdrmer/vim-indent-lua.git
